#info-row {
	width: 85px;

	position: fixed;
	bottom: 0px;
	left: 0px;

	display: flex;
	justify-content: space-between;

	margin: 5px;
}

.info {
	width: 40px;
	height: 40px;
	padding: 4px;

	background-color: #F4DFBA;
	border: 2px solid #CA965C;
	border-radius: 4px;
	
	box-sizing: border-box;
	transform-origin: left bottom;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.info:hover {
	background-color: #EEC373;
	border: 2px solid #876445;
}