:root {
	--bg1: #F4DFBA;
	--bg2: #EEC373;
	--add1: #CA965C;
	--add2: #876445;
}

#info-row {
	width: 85px;

	position: fixed;
	bottom: 0px;
	left: 0px;

	display: flex;
	justify-content: space-between;

	margin: 5px;
}

.info {
	width: 40px;
	height: 40px;
	padding: 4px;

	background-color: var(--bg1);
	border: 2px solid var(--add1);
	border-radius: 4px;
	
	box-sizing: border-box;
	transform-origin: left bottom;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.info:hover {
	background-color: var(--bg2);
	border: 2px solid var(--add2);
}

a {
	display: flex;
}

div img {
	object-fit: cover;
	height: 100%;
}