:root {
	--bg1: #F4DFBA;
	--bg2: #EEC373;
	--add1: #CA965C;
	--add2: #876445;
}

@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

body {
	background-color: #e6e6e6;

	font-family: 'Fira Code', monospace;
	font-weight: 500;
	font-stretch: ultra-condensed;

	margin: 0px;
	padding: 0px;
}

.grid {
    background-image:
      repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 71px 71px;
}

#info-row {
	width: 85px;

	position: fixed;
	bottom: 0px;
	left: 0px;

	display: flex;
	justify-content: space-between;

	margin: 5px;
}
#info-panel {
	box-sizing: border-box;
	width: calc(10vw + 200px);
	/*height: calc(50vh - 10px);*/
	height: auto;

	position: fixed;
	right: 0px;
	top: 0px;

	margin: 5px;
	padding: 8px;

	background-color: var(--bg1);
	border: 2px solid var(--add1);
	border-radius: 4px;
}
.info {
	width: 40px;
	height: 40px;
	padding: 4px;

	background-color: var(--bg1);
	border: 2px solid var(--add1);
	border-radius: 4px;
	
	box-sizing: border-box;
	transform-origin: left bottom;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.info:hover {
	background-color: var(--bg2);
	border: 2px solid var(--add2);
}
.bottom-info{
	text-align: end;
}

button {
	all: unset;
	cursor: pointer;
}

a {
	display: flex;
}

p {
	margin: 0px;
}

div img {
	object-fit: cover;
	height: 100%;
}
.filter {
	filter: invert(40%) sepia(59%) saturate(314%) hue-rotate(347deg) brightness(90%) contrast(90%);
}